spring:
  application:
    name: mileage-service
  profiles:
    active: local


---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    driver-class-name: org.postgresql.Driver
    username: joon
    password: 3621
    url: jdbc:postgresql://localhost:5432/triple
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        default_batch_fetch_size: 1000
    open-in-view: false
  sql:
    init:
      mode: always
      schema-locations: classpath:db/schema-dev.sql
---
spring:
  config:
    activate:
      on-profile: local

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:test
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 1000
    open-in-view: false
  batch:
    job:
      names: ${job.name:NONE}
    jdbc:
      initialize-schema: embedded
logging.level:
  org.hibernate.SQL: debug
---
spring:
  config:
    activate:
      on-profile: test
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
  datasource:
    driver-class-name: org.h2.Driver
    username: sa
    password:
